@if (TempData.ContainsKey("Cle"))
{

    <div id="alert-message" class="alert alert-info  rounded text-center" role="alert">
        <h4 class="pt-3">@TempData["Cle"]</h4>
    </div>

    <script>
        setTimeout(function () {
            document.getElementById("alert-message").style.display = "none";
        }, 3000);
    </script>
}


@if (TempData.ContainsKey("success"))
{

    <div id="alert-message" class="alert alert-success pt-3 rounded text-center" role="alert">
        <h4>@TempData["success"]</h4>
    </div>

    <script>
        setTimeout(function () {
            document.getElementById("alert-message").style.display = "none";
        }, 3000);
    </script>
}
