@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "mot de passe modification/confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Votre mot de passe est modifie| <a asp-page="./Login">Se connecter</a>.
</p>
