@page
@model ShoppingFantasy.Pages.OrderConfirmationModel
@{
}

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Merci pour votre Achat !</h1>
            Le numéro de votre commande : @Model.Id <br /><br />
        <img src="https://thumbs.dreamstime.com/z/le-label-de-regard-naturel-avec-vous-remercient-31426461.jpg" width="65%" />
    </div>
</div>
