@page
@model ShoppingFantasy.Pages.OrderIndexModel
@using Newtonsoft.Json
@{
    ViewData["Title"] = "Mes Ordres";

}



<div class= "pt-5 container ">
    <div class="text-center pb-2">
        <h3 class="text-info">Mes Ordres</h3>
    </div>

    <input hidden id="order-info" value="@JsonConvert.SerializeObject(Model.OrderHeaders)" />

    <table id="table" class="table table-hover table-striped rounded" style="width:100%">
        <thead class=" text-bg-dark rounded">
             <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Nom</th>
                <th>Livraison</th>
                <th>Telephone</th>
                <th>E-mail</th>
                <th>Statut</th>
                <th>Total</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>



@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
    <script src="
https://cdn.jsdelivr.net/npm/moment@2.29.4/moment.min.js
"></script>
    <script src="
https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/locale/fr.min.js
"></script>
<script type="text/javascript" defer>

$(document).ready(  function () {
              
            const data = JSON.parse(document.getElementById("order-info").value);
            data.map(d => d.OrderDate = moment(d.OrderDate).format('L'));
            data.map(d => d.OrderTotal = (d.OrderTotal).toLocaleString('fr-FR', {
                style: 'currency',
                currency: 'EUR'
            }))

    $('#table').DataTable({
                language: {
                    url: "//cdn.datatables.net/plug-ins/1.13.1/i18n/fr-FR.json"
                },
                data: data,
         "columns" : [
                {data: "Id"},
                {data: "OrderDate"},
                {data: "Name"},
                {data: "Carrier"},
                {data: "PhoneNumber"},
                {data: "AppUser.Email"},
                {data: "OrderStatus"},
                {data: "OrderTotal"},
                {"data": "Id",
                "render": function (data) {
                    return `
                        <div class="w-75 btn-group" role="group">
                        <a href="/OrderDetails?orderId=${data}"
                                class="btn btn-info mx-2"> <i class="bi bi-eye-fill"></i></a>
                      
					</div>
                        `
                },
                "width": "5%"
            }
         ]

         
    });
} );

</script>

}



