@page
@model ShoppingFantasy.Pages.OrderConfirmationModel
@{
}

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Merci pour votre Achat !</h1>
            Le numéro de votre commande : @Model.Id <br /><br />
            <img src="~/images/boy_swim_money.png" alt="merci pour votre achat!" />
    </div>
</div>
