@page
@model ShoppingFantasy.Pages.OrderConfirmationModel
@{
}

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Merci pour votre Achat !</h1>
            Le numéro de votre commande : @Model.Id <br /><br />
        <img src="~/images/FB_20140715_22_32_43_Saved_Picture.jpg width="65%" />
    </div>
</div>
