@page
@model PrivacyModel
@{
    ViewData["Title"] = "Nous Contacter";
}
<h1 class="pt-4 pb-4">@ViewData["Title"]</h1>

<p>
Virginie, c'est ici que tu vas afficher tes informations de contact, tu pourras aller a ton panneau d'administraition pour editer cette page. 
</p>
<br />
<p>
 Tu auras un editeur de texte complet pour gerer l'affichage.
</p>
<br />
<p>
 Normalement ici tu met ton SIREN, tes informations de contact et un petit resume sur ta boutique.
</p>
